


<section class="flex flex-col w-full sm:flex-row{% if metadata.hero.image == nil %} px-4{% endif %}" data-sb-field-path={{ [siteConfigFilePath, ":hero"] | join  }}>
        <div class="flex-1 w-full py-12 text-center {% if metadata.hero.image %}px-4 sm:px-8 sm:text-left{% else %}max-w-2xl mx-auto sm:py-16{% endif %} bg-white">
            {% if metadata.hero.title %}
                <h1 class="mb-4 text-3xl font-bold uppercase sm:text-4xl text-slate-800" data-sb-field-path=".title">{{ metadata.hero.title }}</h1>
            {% endif %}
            {% if metadata.hero.text %}
                <div class="prose max-w-none prose-slate" data-sb-field-path=".text">
                    {{ metadata.hero.text | markdown | safe }}
                </div>
            {% endif %}
        </div>
        {% if metadata.hero.image %}
            <!--figure class="flex-1 w-full">
                <img class="object-cover w-full h-full" src={{ metadata.hero.image.src | url }} eleventy:widths="640" eleventy:formats="webp" loading="lazy" decoding="async" alt="{{ metadata.hero.image.alt }}" data-sb-field-path=".image.src" />
            </figure-->
        {% endif %}
</section>


