{% if metadata.copyrightText %}
    <footer class="px-4 pt-16 pb-16 sm:pb-24 text-white bg-black">
        <div class="max-w-4xl mx-auto prose-sm prose text-base text-center prose-slate prose-invert" data-sb-field-path={{ [siteConfigFilePath, ":copyrightText"] | join  }}>{{ metadata.copyrightText | markdown | safe }}</div>
    </footer>
{% endif %}