   <header class="flex justify-center px-2 py-2 sm:p-6">
        {% if metadata.navLinks | length %}
            <nav class="p-4 text-xs tracking-widest uppercase bg-synarchi-950" data-sb-field-path={{ [siteConfigFilePath, ":navLinks"] | join }} aria-label="Navigation menu">
                
                <ul class="flex flex-row gap-4 mx-auto">
                    <li><a href="/" data-sb-field-path={{ [siteConfigFilePath, ":title"] | join  }}> <img src="/images/syn-logo-white.svg" alt={{ metadata.title }} class="w-4 h-4" /></a></li>
                    {%- for entry in metadata.navLinks %}
                        <li>
                            <a class="text-xs {% if page.url | trimTrailingSlash == entry.url | trimTrailingSlash %}text-synarchi-500{% else %} text-white transition hover:text-synarchi-500{% endif %}" href="{{ entry.url }}" {% if page.url | trimTrailingSlash == entry.url | trimTrailingSlash %} aria-current="page" {% endif %} data-sb-field-path={{ [".", loop.index0] | join }}>{{ entry.label }}</a>
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
        {% endif %}

    </header>