---
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="px-4 py-12 text-center bg-white sm:py-16">
    <h1 class="mb-4 text-3xl font-bold uppercase sm:text-4xl text-slate-800">页面没找到</h1>
    <div class="max-w-2xl mx-auto prose text-center prose-slate">
        <p>您访问的页面不存在，请检查网页地址或者返回我们的 <a href="index.njk">首页</a>.</p>
        <hr/>
        <p>关注袈蓝的社交媒体账号，保持联系，乡村振兴路上，不迷路。</p>
        <p>微信公众号：袈蓝建筑</p>
        <p>微信视频号：袈蓝邹迎晞</p>
        <p>抖音: <a href="https://v.douyin.com/WALAkRbgVJk/">袈蓝邹迎晞 </a></p>
        
    </div>
</div>

